@model LearningContentViewModel
@{
    Layout = "~/Views/Shared/_QuizPage-LearningContentLayout.cshtml";
    bool showModal = ViewBag.showSuccessModal ?? false;

}
<style>
    .content-videos{
        width:100%;
    }
</style>
<partial name="_LearningContentLeftNavbarPartial" />

<div class="right-main-panel background">
    <partial name="_LearningContentTopNavbarPartial" />
    @if(Model.Lesson != null){
    <div class=" main-content">
        <div class="content-title">
            <p>@Model.Lesson.Topic</p>
        </div>
        <div class="content-video">
                <video class="content-videos" controls>
                    <source src="@Model.Lesson.VideoUrl" type="video/mp4">
                    <source src="@Model.Lesson.VideoUrl" type="video/ogg">
                </video>
          
        </div>
        <div class="content-text">
                @Html.Raw(Model.Lesson.Text)
        </div>

            @if (Model.Quizs != null)
            {
                @foreach (var quiz in Model.Quizs)
                {
                    
                
        <div class="quiz-body">
            <div class="body-header">
                <div class="body-header-inner">
                            <div class="topic body-header-font">
                                <h5>Instruction/s</h5>
                                <p>@quiz.Instruction</p>
                            </div>
                                <div class="topic body-header-font">
                                    <h5>Questions</h5>
                                    <p>@quiz.Question</p>
                                </div>
                    <div class="topic body-header-font">
                        <h5>Pick your answer</h5>
                        <select name="" id="">
                            <option value="" disabled selected>Select an option</option>
                            @foreach (var quizOpt in quiz.QuizOptions)
                                        {
                                            <option value="@quizOpt.Option">@quizOpt.Option</option>
                                        }
                        </select>          
                    </div>  
                </div>
            </div>
        </div>
                }
            }
            @if(Model.Quizs.Count() > 0){
            <button>
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                <span>Submit</span>
            </button>
            }
    </div>
    }
</div>

<script>
    function toggleModal() {
        var modal = document.getElementById("successModal");
        var currentDisplay = modal.style.display;

        if (currentDisplay === "block") {
            modal.style.display = "none";
    @ViewBag.showSuccessModal = false;
        } else {
            modal.style.display = "block";
    @ViewBag.showSuccessModal = true;
        }
    }
</script>