@model QuizPageViewModel
@{
    Layout = "~/Views/Shared/_QuizPage-LearningContentLayout.cshtml";

    ViewData["Title"] = "Quiz Page";
    bool showModal = ViewBag.showSuccessModal ?? false;

}
<partial name="_LeftSidebarResourcePartial" />

<div class="">
    <div class="right-main-panel">
        <div>
            <partial name="_TopNavbarPartial" />
        </div>



        <div class="wrapper inner-panel">
            <div class="header">
                <h2 class="text-1">QUIZ</h2>
                <p class="text-2">Set / edit quiz questions and upload decadev lesson content.</p>
            </div>
          <form style="width:800px" asp-action="QuizPage" method="post">
                <div class="quiz-body" style="width:100%">
                
                <div class="body-header">
                    <div class="body-header-inner">
                        <div class="topic body-header-font"> 
                            <h5>Topic</h5>
                            @if(Model.Lesson != null){
                            <select  asp-for="Quiz.LessonId">
                                <option value="" disabled selected>Select an option</option>
                                
                                @foreach (var option in Model.Lesson)
                                {
                                    <option value="@option.Id">@option.Topic</option>
                                        }
                            </select>
                                }
                        </div>
                        <div class="topic body-header-font">
                            <h5>Instruction/s</h5>
                            <input type="text" placeholder="Enter Instructions" asp-for="Quiz.Instruction" style="width:100%; height:50px; padding:1rem"/>
                        </div>
                        <div class="topic body-header-font">
                                <h5>Question</h5>
                                <input type="text" placeholder="Enter Question here" asp-for="Quiz.Question" style="width:100%; height:50px; padding:1rem" />
                        </div>
                            <div class="topic body-header-font">
                                <h5>Correct Answer</h5>
                                <input type="text" id="correct-answer" asp-for="Quiz.PreferedAnswer" class="label-input" placeholder="Correct Answer" style="width:100%; height:50px; padding:1rem" />
                            </div>
                            <div class="topic body-header-font">
                                <h5>Option A</h5>
                                <input type="text" id="op1" asp-for="OptionA" class="label-input" placeholder="Option A" style="width:100%; height:50px; padding:1rem" />
                            </div>
                            <div class="topic body-header-font">
                                <h5>Option B</h5>
                                <input type="text" id="op2" asp-for="OptionB" class="label-input" placeholder="Option B" style="width:100%; height:50px; padding:1rem" />
                            </div>
                            <div class="topic body-header-font">
                                <h5>Option C</h5>
                                <input type="text" id="op3" asp-for="OptionC" class="label-input" placeholder="Option C" style="width:100%; height:50px; padding:1rem" />
                            </div>
                            <div class="topic body-header-font">
                                <h5>Option D</h5>
                                <input type="text" id="op4" asp-for="OptionD" class="label-input" placeholder="Option D" style="width:100%; height:50px; padding:1rem" />
                            </div>
                    </div>
                </div>
                <div class="questions-con">
                    <button type="submit" onclick="toggleModal()">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        <span>Upload</span>
                    </button>
                </div>
            </div>
            </form>
        </div>


        <div class="modal-wrapper" id="successModal" style="@(showModal ? "display: block;" : "display: none;")">
            <div class="overlay">
            </div>

            <div class="success-modal">
                <div class="success-modal-inner">
                    <div class="success-image">
                        <img src="~/images/Emoji.png" asp-append-version="true" />
                    </div>
                    <div class="success-message">
                        <p>Upload Successful</p>
                    </div>
                    <div class="success-text">
                        <p>You have successfully uploaded week 2 .NET curriculum learning content</p>
                    </div>
                    <div class="success-button-ok" onclick="toggleModal()">
                        <button>OK!</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



<script>
    function toggleModal() {
        var modal = document.getElementById("successModal");
        var currentDisplay = modal.style.display;

        if (currentDisplay === "block") {
            modal.style.display = "none";
    @ViewBag.showSuccessModal = false;
        } else {
            modal.style.display = "block";
    @ViewBag.showSuccessModal = true;
        }
    }
</script>